{% if resetable %}
<div class="location{% if location.user %} user{% endif %}" value="{{ location.name }}"{% if location.ltype == 'position' and location.ltype == 'room' %} data-map="1"{% endif %}>
{% else %}
<button type="submit" name="{{ prefix }}" value="{{ location.name }}"{% if location.ltype == 'position' or location.ltype == 'room' %} data-map="1"{% endif %} class="location{% if location.user %} user{% endif %}">
{% endif %}
    <span>{{ location.title }}</span>
    <small>{{ location.subtitle }}</small>
    {% if resetable %}
    <div class="buttons"><a href="/link/{{ prefix }}{{ location.name }}" class="link"></a><button type="submit" class="reset"></button></div>
    {% endif %}
{% if resetable %}
</div>
{% else %}
</button>
{% endif %}
