{% if not resultsonly %}
<!DOCTYPE html>
<html>
<head>
<title>32C3 Navigation</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% assets filters="cssmin", output="min/c3nav.css",
          "css/pure/pure-min.css", "css/pure/grids-responsive-min.css", "css/main.css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}
{% assets filters="jsmin", output="min/c3nav.js",
          "js/jquery.min.js", "js/main.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
</head>
<body{% if mobile_client %} class="mobile-client"{% endif %} data-name="{{ graph.name }}" data-levels="{{ graph.levels | join(',') }}" data-w="{{ graph.width }}" data-h="{{ graph.height }}">
<a id="github" href="//github.com/codingcatgirl/c3nav"><img src="/static/img/github.png"></a>
<div id="main" data-locale-error="{{ _('Sorry, an error occured =(') }}" data-locale-input-o="{{ _('select origin…') }}" data-locale-input-d="{{ _('select destination…') }}" data-locale-edit-s="{{ _('Edit Settings') }}" data-locale-swap="{{ _('swap') }}">

    <h1>
        32c3nav
        <span id="langselect">
            {% if g.locale == 'en' %}<span>en</span>{% else %}<a href="?lang=en">en</a>{% endif %}
            {% if g.locale == 'de' %}<span>de</span>{% else %}<a href="?lang=de">de</a>{% endif %}
        </span>
    </h1>
    <p class="message"><strong>Work in Progress. Soon to come:</strong> more POIs (Assemblies etc.), selecting from map, Android App with Wi-Fi positioning, …</p>

    <div class="pure-g">
        <div class="pure-form pure-form-stacked pure-u-1 pure-u-sm-1-2 p{% if origin %} selected{% endif %}" name="o">
            <fieldset>
                <legend>{{ _('Origin') }}</legend>
                {% set prefix = 'o' %}
                {% set point = origin %}
                {% set addlist = (not origin or destination) %}
                {% set otherprefix = 'd' %}
                {% set otherpoint = destination %}
                {% include 'fragment_locationselect.html' %}
            </fieldset>
        </div>
        <div class="pure-form pure-form-stacked pure-u-1 pure-u-sm-1-2 p{% if destination %} selected{% endif %}" name="d">
            <fieldset>
                <legend>{{ _('Destination') }}</legend>
                {% if not origin and not destination %}
                <span class="noscript">{{ _('Set origin first or activate Javascript for fancy autocompletion.') }}</span>
                <div class="selector"></div>
                {% else %}
                    {% set prefix = 'd' %}
                    {% set point = destination %}
                    {% set addlist = (origin and not destination) %}
                    {% set otherprefix = 'o' %}
                    {% set otherpoint = origin %}
                    {% include 'fragment_locationselect.html' %}
                {% endif %}
            </fieldset>
        </div>
    </div>
    <form method="post" action="/" class="pure-form pure-form-stacked" id="mainform">
        <div id="s">
            <fieldset>
                <legend>{{ _('Route Options') }}</legend>
                <div class="pure-g">
                    <div class="pure-u-1-2 pure-u-sm-1-4">
                        <label for="steps">{{ _('Steps') }}</label>
                        <select name="steps" id="steps">
                            {% set value = settings.steps %}
                            {% include 'fragment_allowoptions.html' %}
                        </select>
                    </div>
                    <div class="pure-u-1-2 pure-u-sm-1-4">
                        <label for="stairs">{{ _('Stairs') }}</label>
                        <select name="stairs" id="stairs">
                            {% set value = settings.stairs %}
                            {% include 'fragment_allowoptions.html' %}
                        </select>
                    </div>
                    <div class="pure-u-1-2 pure-u-sm-1-4">
                        <label for="escalators">{{ _('Escalators') }}</label>
                        <select name="escalators" id="escalators">
                            {% set value = settings.escalators %}
                            {% include 'fragment_allowoptions.html' %}
                        </select>
                    </div>
                    <div class="pure-u-1-2 pure-u-sm-1-4">
                        <label for="elevators">{{ _('Elevators') }}</label>
                        <select name="elevators" id="elevators">
                            {% set value = settings.elevators %}
                            {% include 'fragment_allowoptions.html' %}
                        </select>
                    </div>
                </div>

                <div class="inline">
                    <label class="pure-checkbox">
                        <input type="checkbox" name="e" value="h1"{% if 'h1' in settings.e %} checked{% endif %}> {{ _('avoid %(roomtitle)s', roomtitle=titles.h1) }}
                    </label>
                    <label class="pure-checkbox">
                        <input type="checkbox" name="e" value="h2"{% if 'h2' in settings.e %} checked{% endif %}> {{ _('avoid %(roomtitle)s', roomtitle=titles.h2) }}
                    </label>
                    <label class="pure-checkbox">
                        <input type="checkbox" name="i" value="heaven"{% if 'heaven' not in settings.e %} checked{% endif %}>  {{ _('i am an angel') }}
                    </label>
                    <input type="hidden" name="force-e" value="1" />
                    <input type="hidden" name="force-i" value="1" />
                </div>
            </fieldset>

            <fieldset>
                <legend>{{ _('Speed') }} <small>{{ _('(cm/s)') }}</small></legend>
                <div class="pure-g">
                    <div class="pure-u-1-2 pure-u-sm-1-3 pure-u-md-1-6">
                        <label for="s-walking">{{ _('Walking') }}</label>
                        <input type="number" name="s-default" id="s-default" value="{{ settings['s-default'] }}" min="1" max="30000">
                    </div>
                    <div class="pure-u-1-2 pure-u-sm-1-3 pure-u-md-1-6">
                        <label for="s-elevator">{{ _('Elevator') }} <small>{{ _('(s/level)') }}</small></label>
                        <input type="number" name="s-elevator" id="s-elevator" value="{{ settings['s-elevator'] }}" min="0" max="900">
                    </div>
                    <div class="pure-u-1-2 pure-u-sm-1-3 pure-u-md-1-6">
                        <label for="s-stairs-up">{{ _('Stairs↑') }}</label>
                        <input type="number" name="s-stairs-up" id="s-stairs-up" value="{{ settings['s-stairs-up'] }}" min="1" max="30000">
                    </div>
                    <div class="pure-u-1-2 pure-u-sm-1-3 pure-u-md-1-6">
                        <label for="s-stairs-down">{{ _('Stairs↓') }}</label>
                        <input type="number" name="s-stairs-down" id="s-stairs-down" value="{{ settings['s-stairs-down'] }}" min="1" max="30000">
                    </div>
                    <div class="pure-u-1-2 pure-u-sm-1-3 pure-u-md-1-6">
                        <label for="s-escalator-up">{{ _('Escalator↑') }}</label>
                        <input type="number" name="s-escalator-up" id="s-stairs-up" value="{{ settings['s-escalator-up'] }}" min="1" max="30000">
                    </div>
                    <div class="pure-u-1-2 pure-u-sm-1-3 pure-u-md-1-6">
                        <label for="s-escalator-down">{{ _('Escalator↓') }}</label>
                        <input type="number" name="s-escalator-down" id="s-stairs-down" value="{{ settings['s-escalator-down'] }}" min="1" max="30000">
                    </div>
                </div>

                <div class="inline">
                    <label class="pure-radio">
                        <input type="radio" name="route" value="fast"{% if settings.route == 'fast' %} checked{% endif %}> {{ _('fastest route') }}
                    </label>
                    <label class="pure-radio">
                        <input type="radio" name="route" value="short"{% if settings.route == 'short' %} checked{% endif %}> {{ _('shortest route') }}
                    </label>
                </div>
            </fieldset>
        </div>

        <input type="hidden" name="o" value="{% if origin %}{{ origin.name }}{% endif %}" />
        <input type="hidden" name="d" value="{% if destination %}{{ destination.name }}{% endif %}" />

        <div class="pure-g">
            <div class="pure-u-1 pure-u-sm-1-2 settings-meta">
                <label class="pure-checkbox s" id="savesettings">
                    <input type="checkbox" name="savesettings" value="1"{% if had_settings_cookie %} checked{% endif %}> {{ _('save settings in cookie') }}
                </label>
{% endif %}
                <span id="settingsdesc">{% if settings.route == 'fast' %}{{ _('fastest route') }}{% else %}{{ _('shortest route') }}{% endif %}
                     – {% if avoid %}{{ _('avoid %(avoidlist)s', avoidlist=', '.join(avoid)) }}{% else %}{{ _('no restrictions') }}{% endif %}</span>
{% if not resultsonly %}
            </div>
            <div class="pure-u-1 pure-u-sm-1-2" id="main-buttons">
                <button type="submit" class="pure-button pure-button-primary" id="main-submit"{% if not origin or not destination %} disabled{% endif %}>{{ _('Get Route') }}</button>
            </div>
        </div>
    </form>

{% endif %}
    <div class="parts{% if isresult %} routeresult{% endif %}" id="routeresult">
    {% if isresult %}
    <h2>
        {{ _('Your Route') }}
        {% if routeparts %} <span class="routemeta">{{ total_distance }}m / {% if total_duration[0] %}{{ total_duration[0] }}min {% endif %}{{ total_duration[1] }}s</span>{% endif %}
    </h2>
    {% for message in messages %}
    <p class="message {{ message[0] }}">{{ message[1] }}</p>
    {% endfor %}
    {% for routepart in routeparts %}
        {% set bigloop = loop %}
        <div class="pure-g part">
            <div class="pure-u-1 pure-u-md-1-2">
                <div class="path">
                    <svg class="map" data-level="{{ routepart.level }}" viewBox="0 0 {{ routepart.maxx-routepart.minx }} {{ routepart.maxy-routepart.miny }}" style="max-height:{% if routepart.maxy-routepart.miny > 200 %}200{% else %}{{ routepart.maxy-routepart.miny }}{% endif %}px">
                        <defs>
                            <marker id="arrow-{{ bigloop.i }}-{{ loop.i }}" markerWidth="4" markerHeight="4" refX="2.5" refY="2" orient="auto">
                                <path d="M0,0 L3,2 L0,4 L0,0" style="fill: #FF0000; stroke: 0;" />
                            </marker>
                        </defs>

                        <image width="1408" height="1024" x="{{ 0-routepart.minx }}" y="{{ 0-routepart.miny }}" xlink:href="/static/img/levels/{{ graph.name }}/level{{ routepart.level }}.jpg" />

                        <g class="connections">
                            {% for p in routepart.path %}
                            <line x1="{{ p.from.x - routepart.minx }}" y1="{{ p.from.y - routepart.miny }}" x2="{{ p.to.x - routepart.minx }}" y2="{{ p.to.y - routepart.miny }}"{% if p.ctype == 'elevator' %} class="e"{% endif %} marker-end="url(#arrow-{{ bigloop.i }}-{{ loop.i }})" />{% endfor %}
                        </g>
                    </svg>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 desc">
                <div class="desc_items">
                    <div>
                        <img src="/static/img/icons/location.svg">
                        <p>{{ routepart.desc | safe }}</p>
                    </div>
                    {% for p in routepart.path if not p.desc.ignore and not p.desc.merged_to_next and not p.desc.merged_to_last %}
                    {% set desc = p.desc %}
                    <div>
                        {% if desc.icon == 'straight' %}
                        <img src="/static/img/icons/arrow.svg">
                        {% elif desc.icon == 'light_right' %}
                        <img src="/static/img/icons/arrow.svg" style="transform: rotate(45deg);">
                        {% elif desc.icon == 'light_left' %}
                        <img src="/static/img/icons/arrow.svg" style="transform: rotate(-45deg);">
                        {% elif desc.icon == 'right' %}
                        <img src="/static/img/icons/arrow.svg" style="transform: rotate(90deg);">
                        {% elif desc.icon == 'left' %}
                        <img src="/static/img/icons/arrow.svg" style="transform: rotate(-90deg);">
                        {% else %}
                        <img src="/static/img/icons/{{ desc.icon }}.svg">
                        {% endif %}

                        <p>{{ desc.text | safe }}</p>
                    </div>{% endfor %}
                    {% if loop.last %}
                    <div>
                        <img src="/static/img/icons/destination.svg">
                        <p>{{ _('You have reached your destination.') }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% if not resultsonly %}
</form>
</div>
<footer>{% include 'fragment_imprint.html' %}</footer>

</body>
</html>
{% endif %}
